Repository jacktony980/sendingcpp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

lint:
  stage: lint
  script: 'echo ''Verify that no source file contains tabs''
  
    ! egrep -R --exclude-dir=resources $''\t'' src
  
    '

prepare:env:
  stage: prepare
  script: 'tag="$CI_COMMIT_BRANCH"
  
    tag="$(echo "$tag" | sed -e "s/[^a-zA-Z0-9.]/-/g")"
  
    echo "tag=$tag" >> prepare.env
  
    '
  artifacts:
    reports:
      dotenv: prepare.env

build:debug:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script: 'mkdir -p /kaniko/.docker
  
    echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  
  ...

build:production:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script: 'mkdir -p /kaniko/.docker
  
    echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  
  ...

build:coverage:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script: 'mkdir -p /kaniko/.docker
  
    /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile.cov --build-arg JOBS=1 --no-push
  
    '

doc:build:
  stage: doc
  image: reg.lily.kazv.moe/kazv/libkazv-deps/deps:servant
  script:
  - doxygen Doxyfile
  artifacts:
    paths:
    - doc/html/

Add mr template
  .gitlab/merge_request_templates/Default.md
Due: doc:build

Fix discovery failed bug
  src/client/actions/auth.cpp
  src/tests/client/discovery-test.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Use proper key in autoDiscover to fetch homeserver url
  src/client/client.cpp
  src/tests/client/discovery-test.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Implement GetUserProfile
  src/client/CMakeLists.txt
  src/client/actions/profile.cpp
  src/client/actions/profile.hpp
  src/client/client-model.cpp
  src/client/client-model.hpp
  src/client/client.cpp
  src/client/client.hpp
  src/client/clientfwd.hpp
  src/client/status-utils.hpp
  src/tests/CMakeLists.txt
  src/tests/client/client-test-util.cpp
  src/tests/client/client-test-util.hpp
  src/tests/client/profile-test.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Add tests for empty json when getting profile
  src/tests/client/profile-test.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Implement set avatar url and set display name
  src/client/actions/profile.cpp
  src/client/client-model.hpp
  src/client/client.cpp
  src/client/client.hpp
  src/tests/client/profile-test.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Add changelog
  CHANGELOG.md
Due: doc:build

Do not run MR pipelines
  .gitlab-ci.yml
Due: none

Fix compilation failures with new deps
  gtad/operation.cpp.mustache
  src/api/csapi/admin.cpp
  src/api/csapi/administrative_contact.cpp
  src/api/csapi/capabilities.cpp
  src/api/csapi/content-repo.cpp
  src/api/csapi/create_room.cpp
  src/api/csapi/device_management.cpp
  src/api/csapi/directory.cpp
  src/api/csapi/event_context.cpp
  src/api/csapi/filter.cpp
  src/api/csapi/joining.cpp
  src/api/csapi/keys.cpp
  src/api/csapi/list_joined_rooms.cpp
  src/api/csapi/list_public_rooms.cpp
  src/api/csapi/login.cpp
  src/api/csapi/message_pagination.cpp
  src/api/csapi/notifications.cpp
  src/api/csapi/old_sync.cpp
  src/api/csapi/peeking_events.cpp
  src/api/csapi/presence.cpp
  src/api/csapi/profile.cpp
  src/api/csapi/pusher.cpp
  src/api/csapi/pushrules.cpp
  src/api/csapi/redaction.cpp
  src/api/csapi/registration.cpp
  src/api/csapi/room_initial_sync.cpp
  src/api/csapi/room_send.cpp
  src/api/csapi/room_state.cpp
  src/api/csapi/room_upgrades.cpp
  src/api/csapi/rooms.cpp
  src/api/csapi/search.cpp
  src/api/csapi/sync.cpp
  src/api/csapi/tags.cpp
  src/api/csapi/users.cpp
  src/api/csapi/versions.cpp
  src/api/csapi/whoami.cpp
  src/store/store.hpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Implement kick
  src/client/actions/membership.cpp
  src/client/actions/membership.hpp
  src/client/client-model.cpp
  src/client/client-model.hpp
  src/client/clientfwd.hpp
  src/tests/CMakeLists.txt
  src/tests/client/ban-test.cpp
  src/tests/client/client-test-util.hpp
  src/tests/client/kick-test.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Implement Ban/Unban actions
  src/client/actions/membership.cpp
  src/tests/client/ban-test.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Implement Room::{kick,ban,unban}
  src/client/room/room.cpp
  src/client/room/room.hpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Add kick/ban to supported features
  README.md
Due: doc:build

Fix build on boost 1.79
  src/job/asio-promise-handler.hpp
  src/job/cprjobhandler.cpp
  src/tests/client/thread-safety-test.cpp
  src/tests/event-emitter-test.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Eliminate gcc warnings
  src/client/sdk-model.cpp
  src/job/cprjobhandler.cpp
  src/tests/kazvjobtest.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Update room heroes on sync
  src/client/actions/sync.cpp
  src/client/room/room-model.cpp
  src/client/room/room-model.hpp
  src/client/room/room.cpp
  src/client/room/room.hpp
  src/tests/CMakeLists.txt
  src/tests/client/room/room-actions-test.cpp
  src/tests/client/sync-test.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Add room heroes getters
  src/client/room/room-model.hpp
  src/client/room/room.cpp
  src/client/room/room.hpp
  src/tests/client/client-test-util.cpp
  src/tests/client/client-test-util.hpp
  src/tests/client/room-test.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Add changelog for room heroes
  CHANGELOG.md
Due: doc:build

Add interface APIs
  src/doc-interfaces/promise.hpp
  src/doc-interfaces/range-t.hpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Fix query keys failed
  src/base/types.hpp
  src/client/actions/encryption.cpp
  src/tests/CMakeLists.txt
  src/tests/base/types-test.cpp
  src/tests/client/keys-test.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Add coverage report
  .gitlab-ci.yml
Due: none

Add changelog for https://lily-is.land/kazv/libkazv/-/merge_requests/17
  CHANGELOG.md
Due: doc:build

Change coverage root
  .gitlab-ci.yml
Due: none

Release 0.2.0
  CHANGELOG.md
  CMakeLists.txt
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Fix crash that nlohmann cant found key "algorithm"
  src/crypto/crypto.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Delete tab
  src/crypto/crypto.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Fix tag ci
  .gitlab-ci.yml
Due: none

Release 0.2.1
  CMakeLists.txt
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Make failed actions return failWithResponse
  src/client/actions/auth.cpp
  src/client/actions/content.cpp
  src/client/actions/encryption.cpp
  src/client/actions/ephemeral.cpp
  src/client/actions/membership.cpp
  src/client/actions/paginate.cpp
  src/client/actions/send.cpp
  src/client/actions/states.cpp
  src/client/actions/sync.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Document error handling
  src/client/client.hpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Add changelog
  changelogs/21.add
Due: none

Check changelog in MRs
  .gitlab-ci.yml
  tools/check-changelog
Due: none

Skip changelog for this
  changelogs/22.skip
  tools/check-changelog
Due: none

Make compile under gcc12
  changelogs/23.fix
  src/base/cursorutil.hpp
  src/base/file-desc.hpp
  src/client/client.hpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Make work under catch2-3
  src/tests/CMakeLists.txt
  src/tests/base/serialization-test.cpp
  src/tests/base/types-test.cpp
  src/tests/basejobtest.cpp
  src/tests/client/ban-test.cpp
  src/tests/client/content-test.cpp
  src/tests/client/discovery-test.cpp
  src/tests/client/encrypted-file-test.cpp
  src/tests/client/keys-test.cpp
  src/tests/client/kick-test.cpp
  src/tests/client/paginate-test.cpp
  src/tests/client/profile-test.cpp
  src/tests/client/random-generator-test.cpp
  src/tests/client/room-test.cpp
  src/tests/client/room/room-actions-test.cpp
  src/tests/client/sdk-test.cpp
  src/tests/client/serialization-test.cpp
  src/tests/client/sync-test.cpp
  src/tests/client/thread-safety-test.cpp
  src/tests/client/util-test.cpp
  src/tests/crypto-test.cpp
  src/tests/crypto/deterministic-test.cpp
  src/tests/cursorutiltest.cpp
  src/tests/event-emitter-test.cpp
  src/tests/event-test.cpp
  src/tests/file-desc-test.cpp
  src/tests/kazvjobtest.cpp
  src/tests/promise-test.cpp
  src/tests/store-test.cpp
  src/tests/testmain.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Add changelog
  changelogs/24.fix
Due: none

Fix Room::encrypted not implemented
  src/client/room/room.cpp
Due: lint, prepare:env, build:debug, build:production, build:coverage, doc:build

Path conditions:
  lint: any of: Dockerfile, Dockerfile.cov, **/*.cpp, **/*.hpp, **/CMakeLists.txt, **/*.in, src/tests/resources/**
  prepare:env: any of: Dockerfile, Dockerfile.cov, **/*.cpp, **/*.hpp, **/CMakeLists.txt, **/*.in, src/tests/resources/**
  build:debug: any of: Dockerfile, Dockerfile.cov, **/*.cpp, **/*.hpp, **/CMakeLists.txt, **/*.in, src/tests/resources/**
  build:production: any of: Dockerfile, Dockerfile.cov, **/*.cpp, **/*.hpp, **/CMakeLists.txt, **/*.in, src/tests/resources/**
  build:coverage: any of: Dockerfile, Dockerfile.cov, **/*.cpp, **/*.hpp, **/CMakeLists.txt, **/*.in, src/tests/resources/**
  doc:build: (any of: Dockerfile, Dockerfile.cov, **/*.cpp, **/*.hpp, **/CMakeLists.txt, **/*.in, src/tests/resources/**) or (any of: **/*.md)
